.App{
  background-image: linear-gradient(#2dad0dbe, #581715a8), url('./assets/coctail.jpeg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.App h1{
  width: 100%;
  font-size: 5rem;
  font-weight: 100;
  color: white;
  margin: 0;
}

@media (max-width: 500px) {
  .App h1{
    font-size: 3.5rem;
  }
  
}